{% comment %} {% block content %}
  <h2>Список желаний пользователя {{ user.username }}</h2>
  <form method="post" action="{% url 'wish' %}">
    {% csrf_token %}
    {{ form_wishlist.as_p }}
  </form>
{% endblock %} {% endcomment %}]

{% extends "base_generic.html" %}

{% block content %}
  <h1>Ваш список желаний</h1>
  
  <!-- Вывод сообщений -->
  {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  
  <ul>
    {% for item in wishlist_items %}
      <li>{{ item.product.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}
