<!DOCTYPE html>
<html>
<head>
    <title>Product Details</title>
</head>
<body>
    <h1>{{ product_details.product.name }}</h1>
    <p>Price: ${{ product_details.product.price }}</p>
    <p>Category: {{ product_details.product.product_category }}</p>
    <p>Description: {{ product_details.description }}</p>
    <p>Production Date: {{ product_details.prod_date }}</p>
    <p>Expiration Date: {{ product_details.exp_date }}</p>
    <p>Total Views: {{ product_details.total_views }}</p>
    <p>Total Items Sold: {{ product_details.total_items_sold }}</p>
    <p>Total Available: {{ product_details.total_available }}</p>
    <p>Measurement Unit: {{ product_details.measurement_unit }}</p>
    <p>Status: {{ product_details.status }}</p>
    <p>Days Until Expiration: {{ product_details.days_until_expiration }}</p>
</body>
</html>